<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Storage</title>
	</head>
	<body>

		<h1>Storage</h1>

		<h2>Add object</h2>

		<h2>Objects</h2>
	
		<dl>
		{% for obj in objs %}
		<dt>
				Key:
				<a href={{ url_for('home.get_object_contents', key=obj['Key']) }}>
				{{ obj['Key'] }}
				</a>
		</dt>
		<dd>Size (Bytes): {{obj['Size']}}</dd>
		<dd>Last Modified: {{obj['LastModified']}}</dd>
		{% endfor %}
		</dl>

	</body>
</html>
