<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Storage</title>
</head>

<body>

	<h1>Storage</h1>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<p>{{message}}</p>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<h2>Add object</h2>

	<form action="/object/upload" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" required>
		<button>Upload</button>
	</form>

	<h2>Objects</h2>

	<dl>
		{% for obj in objs %}
		<dt>
			Key:
			<a href={{ url_for('home.get_object_contents', key=obj['Key']) }}>
				{{ obj['Key'] }}
			</a>
		</dt>
		<dd>Size (Bytes): {{obj['Size']}}</dd>
		<dd>Last Modified: {{obj['LastModified']}}</dd>
		{% endfor %}
	</dl>

</body>

</html>
